@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Heebo&family=Major+Mono+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Heebo&family=Major+Mono+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Major Mono Display", monospace;
    background-color: #010A13;
    padding: 20px 0px;
    color: #FF204E;
    font-size: 2rem;
    justify-content: space-between;
    
}
.list{
    display: flex;
    flex-direction: row;
    gap: 3rem;    
    list-style: none;
    text-align: center;
    text-decoration: none;
   
}
.list a{
    padding: 2rem;
    border-radius: 5%;
    list-style: none;
    text-decoration: none;
    color:  #FF204E;

}
a:hover{
    background-color: #A0153E;
    color: #000000;
    cursor: pointer;
}
@media screen and(max-width: 51.0625em){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
}
    
}