@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Heebo&family=Major+Mono+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Major Mono Display", monospace;
    background-color: #00224D;
    color: #FF204E;
    font-size: 2rem;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 3rem;    
    list-style: none;
    text-align: center;
    text-decoration: none;
   
}
.list a{
    padding: 2rem;
    border-radius: 10%;
    list-style: none;
    text-decoration: none;
    color: #fff;

}
a:hover{
    background-color: #A0153E;
    color: #5D0E41;
    cursor: pointer;
}