.form-container {
    margin-top: 2rem;
    background-color: #010A13;
    color: #FF204E;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 400px;
    margin: 2rem auto;
  }
  
h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;

}
  
.form-group {
    margin-bottom: 1.5rem;
}
  
label {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
    color: #FF204E;
}
  
input, select {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    padding: 2.5rem;
    border: 2px solid #FF204E;
    border-radius: 0.5rem;
    background-color: #010A13;
    color: #FF204E;
}
  
button {
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FF204E;
    color: #010A13;
    font-size: 1rem;
    cursor: pointer;
}
  
button:hover {
    background-color: #ff405e;
}
  