.heading{
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
    color: #FF204E;
}
.events{
    padding: 100px 15px;
    background-color: #010A13 ;
    margin-top: 2rem;
}
.events h2{
    margin-top: -2rem;
    display: grid;
    place-content: center;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #FF204E;
    box-shadow: 0 0 25px #FF204E,
                0 0 50px #ff204e;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #FF204E;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: #010A13;
    border: 2px solid #FF204E;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #FF204E;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #FF204E;
}
.timeline-content h3{
    font-size: 20px;
    color: #FF204E;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: #ff204e;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;   
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #FF204E;
}
::-webkit-scrollbar-track{
    background-color: #010A13;
    width: 30px;
}